main {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

body {
  margin: 0px;
}

section {
  padding: 8px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  padding: 8px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.comment-area {
  display: flex;
  flex-direction: column;
}

#trybewarts-header-title {
  font-family: Viaoda Libre, cursive;
  font-size: 60px;
}

.trybewarts-header-logo {
  max-height: 150px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}


#evaluation-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 675px;
  min-width: 675px;
  height: 150px;
}

#input-name {
  width: 45%;
  min-height: 50px;
}

#input-lastname {
  width: 45%;
  min-height: 50px;
}

#input-email {
  width: 45%;
  min-height: 50px;
}

#image {
  align-self: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  display: flex;
  height: 50px;
}

#label-family {
  display: flex;
  flex-flow: column wrap;
}

.subject {
  display: inline-block;
}

.trybewarts-rating {
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }

  .left-side {
    align-items: center;
  }
}